body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-image: url("../img/image.png");
}

.app-container {
  display: flex;  /* Enable flexbox */
  flex-direction: column;/* centered */
  align-items: center;/* Center horizontally */
  padding-top: 8rem;/* Space top */
}

.app-title {
  font-size: 6rem;
  font-weight: 250;
  color:white;
  margin: 0 0 20px 0;/*  bottom margin */
}

.todo-card {
  width: 40rem;
  background: white;
  border-radius: 1rem;
  overflow: hidden;/* Clip child borders */
}

.todo-input {
  width: 100%;
  border: none;
  padding: 1rem;
  font-size: 1.2rem;
  outline: none;                    /* No blue outline when focused */
  font-weight: 300;
  border-bottom: 0.1rem solid gray;
}

.todo-input::placeholder {
  color: lightgray;
}

.todo-list {
  list-style: none;/* Remove bullet points */
  margin: 0;
  padding: 0;
}

/* Single task row */
.todo-item {
  display: flex;
  align-items: center;/* Vertically center */
  padding: 0.9rem;
  border-bottom: 0.08rem solid lightgray;
  font-size: 1.1rem;
}

/* Message shown when there are no tasks */
.todo-empty {
  padding: 12px 16px 12px 20px;
  border-bottom: 1px solid #ededed;
  font-size: 1.1rem;
  color: #b3b3b3;                  /* Light grey text */
  font-style: italic;
}

/* Delete button on the right */
.delete-button {
  margin-left: auto;/* Push button to the far right */
  border: none;
  background: transparent;/* Invisible background */
  color: red;
  font-size: 1.2rem;/*"×" */
  cursor: pointer;
  opacity: 0;/* Hidden by default */
  transition: opacity 0.2s ease;/* fade-in/out */
}

/* Show delete button only when i oint */
.todo-item:hover .delete-button {
  opacity: 1;
}

/* Bottom footer that shows the number of remaining tasks */
.todo-footer {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  color: grey;
}